<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Single page web app using Angularjs</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <form
                        method="POST"
                        action="/purchase"
                        class="form-inline justify-content-center">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
                        <input
                            type="number"
                            class="form-control"
                            name="Quantity"
                            value="1"
                            placeholder="Enter quantity">
                        <input type="submit" class="btn btn-primary my-1" value="Purchase">
                    </form>

                    <form
                        method="POST"
                        action="/purchaserecurring"
                        class="form-inline justify-content-center">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Recurring</label>
                        <input
                            type="number"
                            class="form-control"
                            name="Quantity"
                            value="1"
                            placeholder="Enter quantity">
                        <input type="submit" class="btn btn-primary my-1" value="Purchase">
                    </form>

                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </body>
</html>